@model IQueryable<Customer>

<a href="/Home/RegisterCustomer" class="btn btn-primary">New customer</a>

<h1>Customers List</h1>
<hr />

<table class="table table-bordered table-striped">
    <thead class="bg-dark text-light text-center">
        <tr>
            <th>NAME</th>
            <th>STATE</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model)
         {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.State</td>
                <td>Nothing Yet</td>
            </tr>
         }
    </tbody>
</table>