@model Equipment
@{
    ViewBag.Subtitle = "Equipment Removal";
}

<h1>Equipment Removal</h1>
<hr />
<h4>Do you really want do delete the equipment <span class="text-danger">@Model.Name?</span></h4>
<form method="POST" class="w-25">
    <input type="hidden" asp-for="Id">
    <div class="mt-3">
        <a asp-action="Equipments" class="btn btn-success">No</a>
        <button class="btn btn-danger" type="submit">
            Yes
        </button>
    </div>
</form>
