@model IQueryable<Employee>
@{
    ViewBag.Subtitle = "Employees";
}

<div class="mt-2">
    <h1 style="display: inline-block" class="mt-2">Employees List</h1>
    <a href="/Home/RegisterEmployee" class="btn btn-primary btn-lg" style="position: absolute; left: 75%; top: 10%;">New employee</a>
    <hr />
</div>


<table class="table table-bordered table-striped">
    <thead class="bg-dark text-light text-center">
        <tr>
            <th>NAME</th>
            <th>E-MAIL</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td class="w-25">@employee.Name</td>
                <td class="w-25">@employee.Email</td>
                <td class="text-center w-25">
                    <a asp-action="RegisterEmployee" asp-route-id="@employee.Id" class="btn btn-sm
                       btn-secondary" style="width: 35%;">
                        Change
                    </a>
                    <a asp-action="DeleteEmployee" asp-route-id="@employee.Id" class="btn btn-sm
                       btn-danger" style="width: 35%;">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

