@model IQueryable<Equipment>

<a href="/Home/RegisterEquipment" class="btn btn-primary">New equipment</a>

<h1>Equipments List</h1>
<hr />

<table class="table table-bordered table-striped">
    <thead class="bg-dark text-light text-center">
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td>@equipment.Name</td>
                <td>@equipment.Price</td>
                <td>Nothing yet</td>
            </tr>
        }
    </tbody>
</table>
