@model IQueryable<Equipment>
@{
    ViewBag.Subtitle = "Equipments";
}

<div class="mt-2">
    <h1 style="display: inline-block" class="mt-2">Equipments List</h1>
    <a href="/Home/RegisterEquipment" class="btn btn-primary btn-lg" style="position: absolute; left: 75%; top: 10%;">New equipment</a>
    <hr />
</div>

<table class="table table-bordered table-striped">
    <thead class="bg-dark text-light text-center">
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td class="w-25">@equipment.Name</td>
                <td class="w-25">@equipment.Price</td>
                <td class="text-center w-25">
                    <a asp-action="RegisterEquipment" asp-route-id="@equipment.Id" class="btn btn-sm
                       btn-secondary" style="width: 35%;">
                        Change
                    </a>
                    <a asp-action="DeleteEquipment" asp-route-id="@equipment.Id" class="btn btn-sm
                       btn-danger" style="width: 35%;">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
