@{
    ViewBag.Subtitle = "Home";
}

<h1 class="mt-2">CRUD GYM</h1>
<hr>
<h2>My name: Pedro Henrique Farias Boscachi</h2>
<p>
    About the project: this is a project made to test my habilities and knowlodge in C# and ASP.NET,
    using HTML, CSS and Boostrap to help me.
</p>



